body{
    background-image: url("Imagenes/back.png");

}
div{
}

#logo{
    float: left;
    width: 152px;
}
.reglas{
    text-align: left;
}
.Titulo{
    font-size: 68px;
    text-align: left;
    font-family: 'Kanit', sans-serif;
    color: darkgrey;
}
#boton{
    float: left;
    width: 80px;

}
.configuracion{
    text-align: right;
    margin: 15px 35px;

}
.Arriba{
    margin:0px 69px;
}