body{
    background-image: url("Imagenes/back.png");

}
div{
}

#logo{
    float: left;
    width: 152px;
}
.reglas{
    text-align: left;
}
.Titulo{
    font-size: 68px;
    text-align: left;
    font-family: 'Kanit', sans-serif;
    color: darkgrey;
}
#boton{
    float: right;
    width: 80px;

}
.configuracion{
    column-count: 3;
    text-align: left;
    margin: 15px 35px;

}
.Arriba{
    margin:0px 60px;
}
.Canvas{
    Margin: 300px 0px;
    text-align: center;
}

.Flechas{
    width:40px;

}
.Utilidades{
    width: 60px;
}